.products_wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:3rem 2rem 2rem 3rem;
    grid-gap: 2rem;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.imagen{
    height: 100%;
    width: 100%;
}

.contenido {
    padding: 1rem;
}

.contenido .titulo {
    font-size: 1rem;
    color: #2c3e50;
}
.contenido .precio{
    padding: 0.5rem;
    width: 60%;
    margin: 0.5rem 0;
    text-align: center;
} 